html {
    // overflow: scroll;
    height: 100%;
    width: 100%;
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        #root {
            width: 100%;
            height: 100%;
        }
    }
}