.wrapper {
  > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    margin-top: 85px;
  }
}
.TopNav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.sidebar-icon, .none-sidebar-icon { 
  display: none;
}

.dayEnd {
  display: inline-block;
  font-family: 'Muli';
  box-sizing: border-box;
  width: 60%;
  h1 {  
    font-weight: bold;
    font-size: 36px;
    color: #5F29AE;;
  }
  .page-label {
    font-weight: bold;
    font-size: 17px;
    color: #9A9696;
    display: block;
    margin: 10px 0px;
  }
  select {
    width: 100%;
    height: 30px;
    margin: 5px 0 10px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #D8D8D8;
  }
  .day-night-symbol {
    display: flex;
    height: 25px;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    img {
      width: 25px;
    }
  }
  .tick-wrapper {
    display: inline-block;
    height: 50px;
    flex-grow: 1;
    .tick {
      height: 17px;
    }
    .tick-label {
      display: inline-block;
      width: 100%;
      font-weight: bold;
      font-size: 14px;
      color: #9A9696;
      text-align: right;
    }
    .selected-tick {
      background-color: #ADFFAA;
    }
  }
  .why-best, .lesson-learned {
    label {
        color: rgb(154, 150, 150);
        font-size: 20px;
        font-weight: bold;
        display: block;
    }
    >div {
        background-image: url('/public/baseline.png');
        background-size: 100% 31px;
        background-attachment: local;
        height: 200px;
        overflow: auto;
        p {
            width: 100%;
            height: 100px;
            font-family: 'Muli';
            font-weight: lighter;
            font-size: 18px;
            line-height: 31px;
            outline: none;
            margin-top: 2px;
            span {
                margin: 0px;
                padding: 0px;
            }
        }
    }
}
  >div {
    &:nth-of-type(2) {
      >div:nth-of-type(3) {
        >div:nth-of-type(2) {
          width: 100%;
          display: flex;
        }
      }
      >div:last-of-type {
        form {
          height: 90px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          >div {
            display: flex;
            flex-direction: column;
            align-items: center;
            >input {
              background-repeat: no-repeat;
              border-radius: 50%;
              width: 50px;
              height: 50px;
            }
            label {
              color: #9A9696;
            }
            &:first-of-type {
              >input {
                visibility: hidden; 
                position: absolute;
              }
              .radio-image {
                content: url("../../../public/dejected-face-pensive-unhappy-emoji-316ea69b09a11aeb-512x512.png");
              }
            }
            &:nth-of-type(2) {
              >input {
                visibility: hidden; 
                position: absolute;
              }
              .radio-image {
                content: url("../../../public/deadpan-face-neutral-sad-emoji-365402ed0fa89a04-512x512.png");
              }
            }
            &:nth-of-type(3) {
              >input {
                visibility: hidden; 
                position: absolute;
              }
              .radio-image {
                content: url("../../../public/face-smile-happy-emoji-39f978390f86ad27-512x512.png");
              }
            }
            &:nth-of-type(4) {
              >input {
                visibility: hidden; 
                position: absolute;
              }
              .radio-image {
                content: url("../../../public/face-wink-emoji-flirt-eye-happy-30525d123ea5bacd-512x512.png");
              }
            }
            &:last-of-type {
              >input {
                visibility: hidden; 
                position: absolute;
              }
              .radio-image {
                content: url("../../../public/eye-face-mouth-open-smile-happy-emoji-3c0c76d5830d3427-512x512.png");
              }
            }
          }
        }
      }
    }
    &:nth-of-type(2) {
      >div:nth-of-type(3) {
        >div:nth-of-type(2) {
          >div {
            >div {
              border: 2px solid #9A9696;
              border-left: none;
              border-right: none;
            }
            &:first-of-type {
              >div {
                border-left: 2px solid #9A9696;
              }
            }
            &:last-of-type {
              >div {
                border-right: 2px solid #9A9696;
              }
            }
          }
        }
      }
    }
  }
}
.radio-image:not(.chosen-radio) {
  cursor:pointer;
  border:5px solid transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chosen-radio {
  cursor:pointer;
  border: 5px solid #9A4DFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    > div:nth-child(2) {
      margin-top: 0px;
    }
  }
  .TopNav {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: .5px solid;
  }
  .sidebar-icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
  }
  .dayEnd {
    width: 100%;
    padding: 0 50px;
  }
  .SideBar {
    position: absolute;
    left: -300px;
    top: 40px;
    -webkit-transition: left .1s ease-in;
    transition: left .1s ease-in;
  }
  .showing-sidebar {
    display: flex;
    position: absolute;
    left: 0;
    top: 40px;
    height: 100%;
    // -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    // box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  }
  .disable-content {
    position: fixed;
    right: -875px;
    background-color: whitesmoke;
    opacity: 0.8;
    transition: right 0s ease-in;
    margin-left: 272px;
    width: 100%;
    height: 100%;
  }
  .disabled {
    right: 0px;    
    transition: right 0s ease-in;
    transition-delay: .1s;
    left: 0px;
  }
}

@media only screen and (max-width:360px) {
  .dayEnd {
    padding: 0 10px;
    .tick-wrapper .tick-label {
      font-size: 8px;
    }
    .radio-image:not(.chosen-radio) {
      cursor:pointer;
      border:3px solid transparent;
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
    .chosen-radio {
      cursor:pointer;
      border: 3px solid #9A4DFF;
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
    >div:nth-of-type(2) > div:last-of-type form {
      height: 50px;
      >div label {
        font-size: 10px;
      }
    }
  }
}