.signup {

  width: 100%;
  background-image: url(http://localhost:8080/public/background-signup.png) ;

   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  font-family: 'Muli';
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 900px) {
    align-items: baseline;
    background-attachment: fixed;
    background-size: auto;
    height: auto;
  }
  >div {
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 50px;

    >div {
      //h1 sign in
      &:nth-child(1) {
        h1 {
            top: 0;
            color: #5f29ae;
            display: block;
            margin-left: 50px;
            @media only screen and (max-width: 900px) {
            text-align: center;
            }

        }
      }
      // form
      &:nth-child(2) {
            display: flex;
            @media only screen and (max-width: 900px) {
              display: block;
            }

        >div {
          // avatar
            &:nth-child(1) {
        margin-right: 50px;
        @media only screen and (max-width: 900px) {
          margin-left: 70px;
          padding-bottom: 10px;
        }
        >div {
          > img {
            height: 200px;
            width: 200px;
            object-fit: cover;
          }
          >button {
            cursor: pointer;
            background-color: #5F29AE;
            border: 0;
            height: 30px;
            color: white;
            margin-left: 25px;
            width: 150px;
            margin-top: 10px;
            display: block;
            font-family: 'Muli';
            &:hover {
              outline: none;
              opacity: 0.8;
              background-color: #3B22A4;

            }
          }
          > input {
            display: none;
          }
          span {
            font-size: 11px;
            color: red;
            margin-left: 5px;
            display: block;
          }
        }
      }
      // form sign up
      &:nth-child(2) {
          >div {
            //form top
            &:nth-child(1) {
              display: flex;
              @media only screen and (max-width: 900px) {
                display: block;

              }
              >div {
                //form top left
                &:nth-child(1) {
                  margin-right: 40px;
                  @media only screen and (max-width: 900px) {
                    margin-left: 10px;
                    margin-right: 0px;
                  }
                  h1 {
                    display: none;
                    margin-top: 0;
                    color: #5f29ae;
                    margin-bottom: 50px;
                    @media only screen and (max-width: 900px) {
                      display: none;
                    }
                  }
                  span {
                    color: red;
                    font-size: 11px;
                  }
                  label {
                    color: #716c6c;
                    display: block;
                    font-size: 20px;
                  }
                  input {
                    background: none;
                    border: 0;
                    border-bottom: 2px solid #acacac;
                    font-weight: lighter;
                    font-size: 15px;
                    width: 300px;
                    &:focus {
                      outline: none;
                      border-bottom: 2px  solid #5f29ae;
                    }
                  }
                }
                //form top right
                &:nth-child(2) {
                  @media only screen and (max-width: 900px) {
                    display: block;
                    margin-top: 0;
                    margin-left: 10px;
                  }
                  >div {
                    &:nth-child(1) {
                      label {
                        color: #716c6c;
                        display: block;
                        font-size: 20px;
                      }
                      span {
                        color: red;
                        font-size: 11px;
                      }
                      input {
                        background: none;
                        border: 0;
                        border-bottom: 2px solid #acacac;
                        font-weight: lighter;
                        font-size: 15px;
                        width: 300px;
                        &:focus {
                          outline: none;
                          border-bottom: 2px  solid #5f29ae;
                        }
                      }
                    }
                    &:nth-child(2) {
                      label {
                        color: #716c6c;
                        display: block;
                        font-size: 20px;
                        margin-top: 10px;
                      }
                      span {
                        color: red;
                        font-size: 11px;
                      }
                      input {
                        background: none;
                        border: 0;
                        border-bottom: 2px solid #acacac;
                        font-weight: lighter;
                        font-size: 15px;
                        width: 300px;
                        &:focus {
                          outline: none;
                          border-bottom: 2px  solid #5f29ae;
                        }
                      }
                    }
                    &:nth-child(3) {
                      label {
                        color: #716c6c;
                        display: block;
                        font-size: 20px;
                        margin-top: 10px;
                      }
                      span {
                        color: red;
                        font-size: 11px;
                      }
                      input {
                        background: none;
                        border: 0;
                        border-bottom: 2px solid #acacac;
                        font-weight: lighter;
                        color: #716c6c;
                        font-size: 15px;
                        width: 300px;
                        &:focus {
                          outline: none;
                          border-bottom: 2px  solid #5f29ae;
                        }
                      }
                    }
                    &:nth-child(4) {
                      margin-top: 10px;
                      label {
                        color: #716c6c;
                        font-size: 20px;
                        margin-top: 10px;
                      }
                      span {
                        color: red;
                        font-size: 11px;
                      }
                      form {
                        display: flex;
                        justify-content: center;
                        label {
                          margin-left: 20px;
                          position: relative;
                          top: 6px;
                          cursor: pointer;
                          &:hover {
                            input + span {
                              background-color: #ccc;
                            }
                          }
                          input {
                            opacity: 0;
                            outline: none;
                            height: 20px;
                            width: 20px;
                            &:checked  {
                              + span {
                                background-color: #5F29AE;
                                &:after {
                                  display: block;

                                }
                              }

                            }

                          }
                          span {
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            height: 20px;
                            width: 20px;
                            border-radius: 50%;
                            background-color: #acacac;
                            &:after {
                              content: "";
                              position: absolute;
                              display: none;
                              top: 6px;
                              left: 6px;
                              width: 8px;
                              height: 8px;
                              border-radius: 50%;
                              background: white;
                            }

                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &:nth-child(2) {
              margin-top: 20px;
              @media only screen and (max-width: 900px) {
                margin-left: 10px;
              }
              button {
                outline: none;
                font-family: 'Muli';
                cursor: pointer;
                width: 300px;
                height: 40px;
                font-size: 16px;
                display: block;
                background-color: #5f29ae;
                color: white;
                border: 0;
                &:hover {
                  outline: none;
                  opacity: 0.8;
                  background-color: #3B22A4;

                }
              }
              a {
                color:  #5f29ae;
                font-size: 18px;
                text-decoration: none;
                margin-left: 120px;

              }
            }
          }
        }
      }
    }
    }
    @media only screen and (max-width: 900px) {
      display: block;
    }
  }
}
