.signup {
  height: 100%;
  width: 100%;
  font-family: 'Lucida Grande';
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 900px) {
    align-items: baseline;
  }
  >div {
    display: flex;
    align-items: center;
    justify-content: center;
  // avatar
    >div {
      &:nth-child(1) {
        h1 {
          display: none;
          @media only screen and (max-width: 900px) {
            font-size: 40px;
            color: #5f29ae;
            display: block;
          }
        }
      }
      &:nth-child(2) {
        >div {
          > img {
            height: 200px;
            width: 200px;
            background-color: #9a9595;
            object-fit: cover;
          }
          > input {
            display: block;
          }
          span {
            color: red;
          }
        }
      }
      // form sign up
      &:nth-child(3) {
          >div {
            //form top
            &:nth-child(1) {
              display: flex;
              @media only screen and (max-width: 900px) {
                display: block;
              }
              >div {
                //form top left
                &:nth-child(1) {
                  margin-right: 40px;
                  h1 {
                    margin-top: 0;
                    font-size: 40px;
                    color: #5f29ae;
                    margin-bottom: 50px;
                    @media only screen and (max-width: 900px) {
                      display: none;
                    }
                  }
                  span {
                    color: red;
                  }
                  label {
                    color: #000;
                    display: block;
                    font-size: 20px;
                    margin-top: 10px;
                  }
                  input {
                    border: 0;
                    border-bottom: 2px solid #eee;
                    width: 300px;
                    &:focus {
                      outline: none;
                      border-bottom: 2px  solid #5f29ae;
                    }
                  }
                }
                //form top right
                &:nth-child(2) {
                  margin-top: 100px;
                  @media only screen and (max-width: 900px) {
                    display: block;
                    margin-top: 0;
                  }
                  >div {
                    &:nth-child(1) {
                      label {
                        color: #000;
                        display: block;
                        font-size: 20px;
                      }
                      span {
                        color: red;
                      }
                      input {
                        border: 0;
                        border-bottom: 2px solid #eee;
                        width: 300px;
                        &:focus {
                          outline: none;
                          border-bottom: 2px  solid #5f29ae;
                        }
                      }
                    }
                    &:nth-child(2) {
                      label {
                        color: #000;
                        display: block;
                        font-size: 20px;
                        margin-top: 10px;
                      }
                      span {
                        color: red;
                      }
                      input {
                        border: 0;
                        border-bottom: 2px solid #eee;
                        width: 300px;
                        &:focus {
                          outline: none;
                          border-bottom: 2px  solid #5f29ae;
                        }
                      }
                    }
                    &:nth-child(3) {
                      label {
                        color: #000;
                        display: block;
                        font-size: 20px;
                        margin-top: 10px;
                      }
                      span {
                        color: red;
                      }
                      input {
                        border: 0;
                        border-bottom: 2px solid #eee;
                        width: 300px;
                        &:focus {
                          outline: none;
                          border-bottom: 2px  solid #5f29ae;
                        }
                      }
                    }
                    &:nth-child(4) {
                      label {
                        color: #000;
                        display: block;
                        font-size: 20px;
                        margin-top: 10px;
                      }
                      span {
                        color: red;
                      }
                      form {
                        display: flex;
                        span {
                        }
                        label {
                          margin-left: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }
            &:nth-child(2) {
              margin-top: 20px;
              align-items: center;
              text-align: center;
              button {
                width: 100%;
                height: 40px;
                font-size: 25px;
                text-align: center;
                align-items: center;
                display: block;
                background-color: #5f29ae;
                color: white;
                border: 0;
              }
              a {
                color:  #5f29ae;
                font-size: 20px;
                text-decoration: none;
              }
            }
        }
      }

    }
    @media only screen and (max-width: 900px) {
      display: block;
    }
  }
}
