.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    font-size: 20px; // -webkit-text-stroke-width: 2px;
    // -webkit-text-stroke-color: white;
    color: rgb(124, 36, 206);
    padding-left: 20px;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0;
    top: 0;
}

.signup {
    width: 100%;
    background-image: url('../../../public/background-signup.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Muli';
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media only screen and (max-width: 900px) {
        align-items: baseline;
        background-attachment: fixed;
        background-size: auto;
        height: auto;
    }
    >div {
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.9);
        padding: 50px;
        >div {
            //h1 sign in
            &:nth-child(1) {
                h1 {
                    top: 0;
                    color: #5f29ae;
                    display: block;
                    // margin-left: 50px;
                    @media only screen and (max-width: 900px) {
                        text-align: center;
                        margin-left: 0;
                    }
                }
            } // form
            &:nth-child(2) {
                display: flex;
                @media only screen and (max-width: 900px) {
                    display: block;
                }
                >div {
                    // avatar
                    &:nth-child(1) {
                        text-align: center;
                        margin-right: 50px;
                        @media only screen and (max-width: 900px) {
                            margin-left: 50px;
                            padding-bottom: 10px;
                        }
                        >div {
                            >img {
                                height: 200px;
                                width: 200px;
                                object-fit: cover;
                                border: 1px solid rgb(182, 182, 182);
                            }
                            >button {
                                cursor: pointer;
                                background-color: #5f29ae;
                                border: 0;
                                height: 30px;
                                color: white;
                                margin: auto;
                                width: 150px;
                                margin-top: 10px;
                                display: block;
                                font-family: 'Muli';
                                &:hover {
                                    outline: none;
                                    opacity: 0.8;
                                    background-color: #271593;
                                }
                            }
                            >input {
                                display: none;
                            }
                            span {
                                font-size: 11px;
                                color: red;
                                margin-left: 5px;
                                display: block;
                            }
                        }
                    } // form sign up
                    &:nth-child(2) {
                        >div {
                            //form top
                            &:nth-child(1) {
                                display: flex;
                                @media only screen and (max-width: 900px) {
                                    display: block;
                                }
                                >div {
                                    //form top left
                                    &:nth-child(1) {
                                        margin-right: 40px;
                                        @media only screen and (max-width: 900px) {
                                            margin-left: 10px;
                                            margin-right: 0px;
                                        }
                                        h1 {
                                            display: none;
                                            margin-top: 0;
                                            color: #5f29ae;
                                            margin-bottom: 50px;
                                            @media only screen and (max-width: 900px) {
                                                display: none;
                                            }
                                        }
                                        span {
                                            color: red;
                                            font-size: 11px;
                                        }
                                        label {
                                            color: #716c6c;
                                            display: block;
                                            font-size: 20px;
                                            margin-top: 10px;
                                        }
                                        input {
                                            background: none;
                                            border: 0;
                                            border-bottom: 2px solid #acacac;
                                            font-weight: lighter;
                                            font-size: 15px;
                                            width: 300px;
                                            line-height: 30px;
                                            &:focus {
                                                outline: none;
                                                border-bottom: 2px solid #5f29ae;
                                            }
                                        }
                                    } //form top right
                                    &:nth-child(2) {
                                        @media only screen and (max-width: 900px) {
                                            display: block;
                                            margin-top: 0;
                                            margin-left: 10px;
                                        }
                                        >div {
                                            &:not(:nth-child(4)){
                                              label {
                                                  color: #716c6c;
                                                  display: block;
                                                  font-size: 20px;
                                                  margin-top: 10px;
                                              }
                                              span {
                                                  color: red;
                                                  font-size: 11px;
                                              }
                                              input {
                                                  background: none;
                                                  border: 0;
                                                  border-bottom: 2px solid #acacac;
                                                  font-weight: lighter;
                                                  font-size: 15px;
                                                  width: 300px;
                                                  line-height: 30px;
                                                  &:focus {
                                                      outline: none;
                                                      border-bottom: 2px solid #5f29ae;
                                                  }
                                              }
                                            }
                                        &:nth-child(4) {
                                            margin-top: 10px;
                                            label {
                                                color: #716c6c;
                                                font-size: 20px;
                                            }
                                            span {
                                                color: red;
                                                font-size: 11px;
                                            }
                                            form {
                                                display: flex;
                                                justify-content: center;
                                                >div {
                                                    display: flex;
                                                    align-items: center;
                                                }
                                                label {
                                                    margin-left: 20px;
                                                    position: relative;
                                                    cursor: pointer;
                                                    &:hover {
                                                        input+span {
                                                            background-color: #ccc;
                                                        }
                                                    }
                                                    input {
                                                        opacity: 0;
                                                        outline: none;
                                                        height: 20px;
                                                        width: 20px;
                                                        margin-right: 10px;
                                                        &:checked {
                                                            +span {
                                                                background-color: #5f29ae;
                                                                &:after {
                                                                    display: block;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    span {
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 5px;
                                                        height: 20px;
                                                        width: 20px;
                                                        border-radius: 50%;
                                                        background-color: #acacac;
                                                        &:after {
                                                            content: "";
                                                            position: absolute;
                                                            display: none;
                                                            top: 6px;
                                                            left: 6px;
                                                            width: 8px;
                                                            height: 8px;
                                                            border-radius: 50%;
                                                            background: white;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(2) {
                            margin-top: 20px;
                            @media only screen and (max-width: 900px) {
                                margin-left: 10px;
                            }
                            button {
                                outline: none;
                                font-family: 'Muli';
                                cursor: pointer;
                                width: 300px;
                                height: 40px;
                                font-size: 16px;
                                display: block;
                                background-color: #5f29ae;
                                color: white;
                                border: 0;
                                &:hover {
                                    outline: none;
                                    opacity: 0.8;
                                    background-color: #271593;
                                }
                            }
                            a {
                                color: #5f29ae;
                                font-size: 18px;
                                text-decoration: none;
                                margin-left: 120px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 900px) {
        display: block;
    }
}


}