.dayStart {
    display: inline-block;
    font-family: 'Muli';
    box-sizing: border-box;
    width: 60%;
    >div {
        &:nth-child(1) {
            color: rgb(95, 41, 174);
        }
        &:nth-child(2) {
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            >div {
                &:nth-child(1) {
                    margin-right: 100px;
                    >div {
                        &:nth-child(1) {
                            >span {
                                color: rgb(154, 150, 150);
                                &:nth-child(1) {
                                    font-size: 20px;
                                    display: inline-block;
                                    width: 100px;
                                }
                                &:nth-child(2) {
                                    font-size: 12px;
                                }
                            }
                        }
                        &:nth-child(2) {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

.task {
    min-height: 60px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 7px 15px 7px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    >div {
        text-align: center;
        >div {
            input,
            textarea {
                text-align: center;
                font-family: 'Muli';
                width: 95%;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid rgb(154, 150, 150);
                outline: none;
            }
            textarea {
                resize: none;
            }
            &:nth-child(1) {
                span {
                    font-size: 15px;
                    word-wrap: break-word;
                }
            }
            &:nth-child(2) {
                span {
                    font-size: 10px;
                }
            }
        }
    }
    >img {
        width: 7%;
        height: auto;
        &:hover {
            cursor: pointer;
        }
        &:active {}
    }
}

.doneTask {
    background-color: rgb(173, 255, 170);
    color: #029e4b;
    >div {
        width: 100%;
        input,
        textarea {
            font-size: 15px;
            color: #029e4b;
        }
    }
}

.undoneTask {
    background-color: rgba(255, 170, 60, 0.39);
    color: rgb(247, 140, 0);
    div {
        width: 100%;
        input,
        textarea {
            font-size: 15px;
            color: rgb(247, 140, 0);
        }
    }
}

.newTask {
    background-color: rgba(255, 171, 60, 0.1205);
    height: 60px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 7px 15px 7px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        height: 50%;
        width: auto;
    }
    &:hover {
        cursor: pointer;
    }
}

.note {
    label {
        color: rgb(154, 150, 150);
        font-size: 20px;
        display: block;
    }
    >div {
        background-image: url('http://localhost:8080/public/baseline.png');
        background-size: 100% 31px;
        background-attachment: local;
        height: 310px;
        overflow: auto;
        p {
            width: 250px;
            height: 310px;
            font-family: 'Muli';
            font-weight: lighter;
            font-size: 18px;
            line-height: 31px;
            outline: none;
            margin-top: 2px;
            span {
                margin: 0px;
                padding: 0px;
            }
        }
    }
}

@media only screen and (max-width: 930px) {
    .dayStart {
        display: block;
        width: 100%;
        >div {
            &:nth-child(1) {
                text-align: center;
            }
            &:nth-child(2) {
                flex-direction: column;
                align-items: center;
                >div {
                    &:nth-child(1){
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}